<!DOCTYPE html>
<html lang="en">

<head>
  <title>Filmly</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}
  <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

  <!-- bootstrap js-->
  <!-- <script src="movies/bootstrap/js/bootstrap.js"></script> -->
</head>

<body>
  {% block content %}
  {% endblock %}
</body>

</html>